# Compiled class file
*.class

# Log file
*.log

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Ionic
www/
.ionic/
.angular/

# OS
.DS_Store
Thumbs.db

# Application specific
*.h2.db
*.db
logs/
.env

# Documentación - Markdown y PDF
*.md
*.pdf

