<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (comment(); as commentRef) {
      <div>
        <h2 data-cy="commentDetailsHeading"><span>Comment</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ commentRef.id }}</span>
          </dd>
          <dt><span>Text</span></dt>
          <dd>
            <span>{{ commentRef.text }}</span>
          </dd>
          <dt><span>Date</span></dt>
          <dd>
            <span>{{ commentRef.date | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Post</span></dt>
          <dd>
            @if (comment()!.post) {
              <div>
                <a [routerLink]="['/post', comment()!.post?.id, 'view']">{{ commentRef.post?.title }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/comment', commentRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
